.classTitle{
    margin-left: 50px;
    font-size: calc(20px + 2vw);
    color: grey;
    height: 20vh;
    margin-top: 10vh;
  }
  .classLeftImage{
    float: left;
    margin-right: 2%;
    margin-top: 15px;
  }

  .classImage{
    margin-right: 2%;
    margin-top: 12px;
    margin-bottom: 10px;
    max-width: 95vw;
  }
  .classimg1cont{
    margin-top: 5vh;
    margin-left: 2vw;
    width: 55vw;
  }
  .classOrangeBox{
    position: absolute;
    background-color: #DC4405;
    width: 20vw;
    padding: 45px;
    padding-top: 50px;
    border-radius: 50px;
    float: left;
    font-size: 1.8vw;
    color: white;
    text-align: center;
    vertical-align: center;
    left: 60vw;
  }
  hr.classLine{
    border: 3px solid black;
    position: absolute;
    margin-top: 520px;
    width: 99.62%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .classProcess{
    margin-left: 25px;
    margin-top: 600px;
  }
  .classStep{
    white-space: pre;
    font-size: 25px;
    color: #DC4405;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 8px;
  }
  .classInstruction{
    font-size: 1.5vw;
    color: grey;
    margin-right: 5px;
    margin-bottom: 17px;
  }
  .classLeftInstruction{
    font-size: 20px;
    color: grey;
    margin-right: 5px;
    margin-bottom: 12px;
  }
  .myOSULink{
    font-size: 20px;
    text-decoration: underline;
    margin-right: 5px;
  }
  .classresponsive{
    font-size: 1.5vw;
  }
  .myOSULink:link{
    color: blue;
  }
  .myOSULink:visited {
    color: purple;
  }
  .myOSULink:hover{
    color: #DC4405;
  }
  .classcont2{

  }
