.finaid-underheader{
  background-color: white;
  color: grey;
  height: 85.95vh;
}

.finaid-bigpage{
  background-color: white;
  color: grey;
  height: 300vh;
}


#finaid-takeadvantage{
  padding-top: 18vh;
  padding-left: 10vw;
  font-size: calc(30px + 1.2vw);
  width: 50vw;
}
.finaid-underline{
  text-decoration: underline;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.finaid-WhiteOnOrange{
  color: white;
  background-color: #DC4405;
}
.finaid-relative{
  position: relative;
}
.finaid-absolute{
  position: absolute;
}
.finaid-OrangeOnWhite{
  color: #DC4405;
  background-color: white;
}
.finaid-scholardollar{
  width: 50%;
  padding-left: 8vw;
  margin-top: 5vh;
  margin-bottom: -30vh;
}
.finaid-upto10k{
  text-align: center;
  left: 65vw;
  width: 26vw;
  top: 5vh;
  font-size: calc(20px + 1.2vw);
  padding: 65px 25px 65px 25px;
  border-radius: 55px;
}

.finaid-how-to-apply{
  position: relative;
  padding-left: 10vw;
  width: 26vw;
  font-size: calc(20px + 1.2vw);
  top: 0vh;
}
/*
.temp{
  background-color: blue;
}*/
.finaid-pad{
  color: grey;
  padding-left: 6.5vw;
  font-size: calc(20px + 1.2vw);
  margin-top: 15vh;
}

.finaid-step{
  color: #DC4405;
  padding-top: 10vh;
  font-size: 30px;
}
.finaid-extrapad{
  padding-left: 3.5vw;
  font-size: calc(10px + 1.2vw);
}
.finaid-siteimgcontainer{
  padding-top: 2vh;
  width: 85vw;
  height: 50vh;
  max-width: 500px;
}
.finaid-small-width{
  width: 80%;
  font-size: calc(10px + 1.2vw);
}

.finaid-smaller-width{
  width: 66%;
  font-size: calc(10px + 1.2vw);
}
