.foodSection{
    font-family: 'Gadugi';
}

#foodTitle{
    color: #707070;
    font-size: 4.2vw;
    margin-top: 2.6vw;
    margin-left: 5vw;
}

.foodImg{
    width: 37vw;
    margin-left: 7.75vw;
    margin-top: -2.75vw;
}

.foodBox{
    background-image: url('../assets/Rectangle 12.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 11vh;
    margin-left: 5vw;
    width: 38vw;
    height: 57vh;
    background-position: center;
    min-height: 350px;
}

#foodDescription{
    color: white;
    font-size: calc(6px + 1.2vw); 
    margin-top: 7.5vh;
    margin-left: 5vw;
    width: 28vw;
    min-width: 1.5vw;
    min-height: 1.5vh;
}

.restaurantBtn{
    margin-top: 1.5vh;
    margin-left: 5vw;
    width: 15vw;
    font-size: calc(3px + 1.3vw);
    min-width: 1.5vw;
    min-height: 1.3vh;
}