.studentHealthServicesSection{
    background-color: #E17373;
    height: 86.5vh;
}

.gymSection{
    background-color: rgb(220, 68, 5, 0.5);
    height: 86.5vh;
    background-image: url('../assets/gym.png');
    background-repeat: no-repeat;
    background-size: auto 80vh;
    background-position: center;
}

#title{
    font-size: calc(20px + 1.2vw);
    margin-left: 50px;
    padding-top: 10vh;
    margin-bottom: 0px;
}

#txt1{
    font-size: calc(10px + 1.2vw);
    margin-left: 100px;
    margin-top: 5vh;
    text-align: center;
}

#title2{
    font-size: calc(20px + 1.2vw);
    margin-left: 100px;
    margin-top: 15vh;
}

.btn1{
    margin-top: 5vh;
    margin-left: 50px;
    width: 25vw;
    min-width: 200px;
    font-size: calc(10px + 1.2vw);
}

.btn2{
    margin-top: 2vh;
    margin-left: 8vw;
    font-size: calc(10px + 1.2vw);
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr
}

#list{
    font-size: calc(10px + 1.2vw);
    font-family: 'Gadugi';
    color: white;
}

#list li
{
  margin-left: 100px;
}