
.dropbtn {
  background-color: inherit;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
div.dropdown {
  width: 100px;
  margin-left: 1050px;
  position: absolute;
  display: inline-block;
}
button div.menuitem {
  display: block;
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}
.content{
  display: block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content a {
  display: block;
}

.dropdown:hover {
  background-color: #b25200;
}

body {
  overflow-x: hidden; /* Hide scrollbars */
}

.section {
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.beaver:hover {
  color: white;
  cursor: pointer;
}

header.header{
  background-color: #DC4405;
  position: sticky;
  top: 0px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
header.header div{
  display: inline-block;

}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.dropbtn {
  background-color: inherit;
  color: white;
  margin-top: -25px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  width: 100px;
  margin-top: 60px;
  margin-right: 5px;
  float: right;
  display: inline-block;
}
/*button div.menuitem {
  display: block;
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}*/
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
}

.dropdown-content {
  display: block;
  background-color: #f1f1f1
}


.SpaceLaunch div{
  margin-left: 10px;
  position: absolute;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  border-radius: 10px;
  font-size: 45px;
  display:  inline-block;
  width: 400px;
  margin-left: 40px;
}
.SpaceLaunch div.GetStarted{
  width: 200px;
  top:30%;
  margin-left: 420px;
  font-size: 35px;
  background-color: #ff7702;
  border-radius: 18px;
  text-align: center;
}
.NewStudents{
  font-size: 35px;
  position: absolute;
  color: grey;
  top: 150px;
  left: 950px;
  width: 280px;
}
.DiscoverPath{
  font-size: 45px;
  color: grey;
  position: absolute;
  left: 850px;
  top: 300px;
} /*
.greyback{
  background-color: #979797;
  height: 60vh;
  color: white;
  font-size: 40px;
}
.greyback div{
  padding-left: 15px;
}
.inline{
  display:inline-block;
  padding-right: 10px;
}
.greyback div.Majors{
  font-size: 70px;
  display: block;
  padding-top: 20px;
  margin-bottom: 15px;
}
.bottomportion{
  height: 40vh;
}
img{
  max-width: 100%;
  max-height: 100%;
}*/


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.SpaceLaunch{
  position: absolute;
  background-image: url("../assets/header.png");
  background-size: cover;
  display: inline-block;
  width: 775px;
  height: 650px;
  top: 130px;
  left: 30px;
  border-radius: 90px;
  color: white;
}
.SpaceLaunch div{
  margin-left: 10px;
  position: absolute;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  border-radius: 10px;
  font-size: 45px;
  display:  inline-block;
  width: 400px;
  margin-left: 40px;
}
.SpaceLaunch div.GetStarted{
  width: 200px;
  top:30%;
  margin-left: 420px;
  font-size: 35px;
  background-color: #ff7702;
  border-radius: 18px;
  text-align: center;
}
.NewStudents{
  font-size: 35px;
  position: absolute;
  color: grey;
  top: 150px;
  left: 950px;
  width: 280px;
}
.DiscoverPath{
  font-size: 45px;
  color: grey;
  position: absolute;
  left: 850px;
  top: 300px;
}
.greyback{
  background-color: #979797;
  height: 60vh;
  color: white;
  font-size: 40px;
}
.greyback div{
  padding-left: 15px;
}
.inline{
  display:inline-block;
  padding-right: 1px;
}
.greyback div.Majors{
  font-size: 70px;
  display: block;
  padding-top: 20px;
  margin-bottom: 15px;
}
.bottomportion{
  height: 40vh;
  position: relative;
}
#over100majors{
  top: 35%;
  width: 30vw;
  font-size: 47px;
  left: 68%;
}

#moreoptions{
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  top: 15vh;
  left: 73%;
  padding: 10px;
  width: 17vw;
  background-color: white;
  border: 2px solid #707070;
  color: #707070;
}


img{
  max-width: 100%;
  max-height: 100%;
}
.bottomportion div{
  position: relative;
  color:#757575;
}
.bottomportion button{
  position: relative;
  color: #757575;
}

#csimgcontainer{
  height: 40vh;
  display: block;
  position: relative;
  bottom: 31%;
}
.slide{
  height: 100vh;
}

#activities{
  height: 60vh;
  color: grey;
  font-size: 50px;
}

#activities div{
  padding-left: 15px;
  padding-top:10px;
  padding-bottom: 15px;
}
#finalportion{
  height: 40vh;
  background-color: green;
}
.moreclubs{
  border: 2px solid #707070;
  color: #707070;
  font-size: 35px;
}
.moreclubs:hover{
  background-color: grey;
  color: white;
}
#activities div.clubstext{
  padding-bottom: 0px;
}

.imgContainers{
  width: 40vw;
}
