

body {
  overflow-x: hidden; /* Hide scrollbars */
}

.section {
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}


.SpaceLaunch div.GetStarted{
  width: 200px;
  top:30%;
  margin-left: 420px;
  font-size: 1.8vw;
  background-color: #ff7702;
  border-radius: 18px;
  text-align: center;
}
.DiscoverPath{
  font-size: 3.1vw;
  color: grey;
  position: relative;
  top: 34vh;
  left: 55vw;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.content{
  position: relative;
  top: -5vh;
}
.SpaceLaunch{
  position: absolute;
  background-image: url("../assets/header.png");
  background-position: center;
  background-size: 100% 100%;
  display: inline-block;
  width: 50vw;
  height: 65vh;
  top: 11vh;
  left: 3vw;
  color: white;
}
.SpaceLaunch div{
  position: absolute;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  border-radius: 10px;
  font-size: 3.5vw;
  display:  inline-block;
  width: 35vw;
  margin-left: 5vw;
}
.SpaceLaunch button.GetStarted{
  position: relative;
  width: 15vw;
  top:30%;
  left: 25vw;
  font-size: 2vw;
  background-color: #DC4405;
  text-align: center;
  border:  2px solid #DC4405;
  border-radius: 30px;
  font-family: 'Gadugi';
  font-style: normal;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  color: white;
}
.SpaceLaunch button.GetStarted:hover{
  background-color: orangered;
}
.NewStudents{
  font-size: 2.5vw;
  position: absolute;
  color: grey;
  top: 18vh;
  left: 55vw;
  width: 40vw;
}
.DiscoverPath div{
  font-size: 3vw;
  padding-bottom: 4vh;
}
.greyback{
  background-color: #979797;
  height: 55vh;
  color: white;
  font-size: 2.6vw;
}
.greyback div{
  padding-left: 15px;
}
.inline{
  display:inline-block;
  padding-right: 1px;
}
.greyback div.Majors{
  font-size: 70px;
  display: block;
  padding-top: 20px;
  margin-bottom: 15px;
}

.bottomportion{
  height: 30vh;
  position: relative;
}

#over100majors{
  position: absolute;
  color:#757575;
  top: 3vw;
  width: 25vw;
  font-size: 3vw;
  left: 73vw;
}

.moreoptions{
  position: absolute;
  top: 10vw;
  left: 79vw;
  padding: 10px;
  width: 17vw;
  border: 2px solid #707070;
  color: #757575;
  font-size: 2vw;
}


img{
  max-width: 100%;
  max-height: 100%;
}
#csimg{
  max-width: 100%;
  height: 100%;
}
#csimgcontainer{
  height: 30vh;
  display: block;
  position: absolute;
  width: 70vw;
  top: 0%;
}
.slide{
  height: 100vh;
}

#activities{
  height: 60vh;
  color: grey;
}
#activities div.act-titles{
  font-size: 70px;
}


#activities div{
  padding-left: 15px;
  padding-top:10px;
  padding-bottom: 15px;
  font-size: 3vw;
}
#finalportion{
  height: 40vh;
  background-color: green;
}
.moreclubs{
  border: 2px solid #707070;
  color: #707070;
  font-size: 2vw;
}

#activities div.clubstext{
  padding-bottom: 0px;
}

.imgContainers{
  height: 40vh;
}
#section1-5{
  background-color: #ff7702;
  color: white;
  font-size: 3.4vw;
  padding-left: 5vw;
}

.underline{
  text-decoration: underline;
}

.launch-getstarted-btn-containers{
  position: relative;
  left: 55vw;
  top: -9%;
}
.launch-getstarted-btns{
  width: 25vw;
  font-size: min(2.9vw, 2vh);
  color: white;
  padding: 15px 50px 15px 50px;
  background-color: #683200;
  border:  2px solid white;
  border-radius: 30px;
  font-family: 'Gadugi';
  font-style: normal;
  cursor: pointer;
}
.launch-getstarted-btns:hover{
  background-color: #c56003;
}
.launch_imgs{
  width: 100vw;
  height: 40vh;
}

#launch-clubs{
  height: 40vh;
  width: 100vw;
}

.launch-titles{
  font-size: 70px;
  text-decoration: underline;
  margin-left: 2vw;
}
.launch_title{
  font-size: 70px;
  padding-top: 8vh;
  padding-bottom: 7vh;
  margin-left: 0px;
}

.temp{
  border: 1px solid black;
  margin: 0px 0px 0px 0px;
  position:relative;
  top: 30vh;
}
