.btn {
  border: 2px solid white;
  background-color: white;
  padding: 14px 28px;
  font-size: 30px;
  font-family: 'Gadugi';
  font-style: normal;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
}

.outlineBtn {
  background-color:rgba(0, 0, 0, 0);
  color: white;
}
.outlineBtn:hover {
  background-color: gray;
  color: white;
}

p{
  font-family: 'Gadugi';
  color: white;
  margin-top: 0;
}

.grid-parent {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 50vh 50vh
}
=======
  grid-template-columns: 1fr 1fr
}

body {  min-width:1000px; }
>>>>>>> cb5135211d9b2aa3fd43eb5ba81fa10a62eeeaa7
